
<div class="inner cover">
	<h1 class="cover-heading">Open a floor plan.</h1>
	

	<div class="col-md-4"></div>
	<div class="col-md-4">
		<form class="form" role="form" style="text-align:left">
			<div class="form-group">
				<label  for="floorplanId">Floor plan ID </label> <input
					type="text" class="form-control" id="floorplanId"
					placeholder="Enter a floor plan ID"
					ng-model="floorplanId"
					ng-change="updateUrl()">
			</div>

		</form>
		<p class="lead">
			<a href="{{url}}" class="btn btn-lg btn-success">Open</a>
		</p>
	</div>


</div>